asgiref==3.7.2
cffi==1.15.0
coverage==7.3.3
Django==5.0
djangorestframework==3.14.0
docutils==0.18.1
protobuf==4.21.12
psycopg==3.1.14
psycopg2==2.9.9
pycparser==2.21
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
